.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-item {
  position: relative;
  flex-basis: calc(100% / 2 - 3rem - 3rem);
  margin: 2rem;
  // background: #daa520;
}

// CARD
.card {
  position: relative;
  background: $c-white;
  box-shadow: 0 1px 1px $bs-left, 0 3px 3px $bs-right;
}

.card-tag {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0.4rem;
  transform: translate(-50%, -50%);
  background: $c-background-primary;
  color: $c-white;
  text-align: center;
  box-shadow: 0 1px 1px $bs-left, 0 3px 3px $bs-right;
}

.card-top {
  position: relative;
  padding: 1rem 0 1rem 3rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: $c-red;
  color: $c-primary;
}

.card-bottom {
  margin: 0;
  padding: 1rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  color: $c-primary;
}

.card-bottom__text {
  margin: 0;
}

.card-pic {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 3rem;
  height: 3rem;
  margin: 0;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  box-shadow: 0 1px 1px $bs-left, 0 3px 3px $bs-right;
}

.footer__main-blog {
  margin: 0;
}
