.top-nav {
  position: relative;
  top: 0;
  width: 100vw;
  padding: 1rem 2rem;
  background: $c-background-primary;
  line-height: 2rem;
  box-shadow: 0 1px 1px $bs-left, 0 3px 3px $bs-right;
  overflow: auto;
  z-index: 1;

  a {
    color: $c-white;
  }
}

.navbar-group {

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}

.logo {
  margin: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  &__item {
    margin: 0;
    padding: 0;
  }

  &__item + .nav-list__item {
    margin-left: 2rem;
  }
}
