// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-primary: #01579b;
$c-white: #fff;
$c-background-primary: #03a9f4;
$c-background-light: #b3e5fc;
$bs-left: rgba(0, 0, 0, 0.2);
$bs-right: rgba(0, 0, 0, 0.15);

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'double-container';
@import 'navbar';
@import 'hero';
@import 'projects';
@import 'footer';

@media (max-width: 600px) {

  .projects {

    &__card {
      display: flex;
      flex-direction: column;
    }
  }
}
